{% load static %}

<link rel="stylesheet" href="{% static 'wganbrowser/style.css' %}">


<!-- Begin Wrapper -->
<div id="wrapper">
  <!-- Begin Header -->
  <div id="header">{% block banner %}<img src="{% static 'wganbrowser/images/generic_headerbar.png' width=10% %}">{% endblock %}</div>
  <!-- End Header -->
  <!-- Begin Navigation -->
  <div id="navigation">
    {% block navigation %}
        {% if user.is_authenticated %}
        <a href="{% url 'wganbrowser:libraries' %}">Libraries</a> | 
        <a href="{% url 'wganbrowser:datasets' %}">Datasets</a> | 
        <a href="{% url 'wganbrowser:models' %}">Models</a> | 
          <a href="{% url 'wganbrowser:modelruns' %}">Model Runs</a> | 
          <a href="{% url 'wganbrowser:jobs' %}">Jobs</a> |
          <a href="http://dgen.uk:8081/">Tensorboard</a> | 
          <a href="{% url 'logout' %}">Logout</a>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
        {% endif %}
    {% endblock %}
  </div>
  <!-- End Navigation -->
  <!-- Begin Messages -->
  <div id="messages">
    {% block messages %}
      {% if message %}
          <p>{{ message }}</p>
      {% elif messages %}
          {% for message in messages %}
            <p>{{ message }}</p>
          {% endfor %}
      {% endif %}
    {% endblock %}
  </div>
  <!-- End Messages -->
  <!-- Begin Left Column -->
  <div id="leftcolumn">
    {% block content %}
    {% endblock %}
  </div>
  <!-- End Left Column -->
  <!-- Begin Right Column -->
  <div id="rightcolumn">
    {% block content_menu %}
    {% endblock %}
  </div>
  <!-- End Right Column -->
 </div>
<!-- End Wrapper -->
</body>
</html>