{% load static %}

<link rel="stylesheet" href="{% static 'wganbrowser/style.css' %}">


<!-- Begin Wrapper -->
<div id="wrapper">
  <!-- Begin Header -->
  <div id="header">{% block banner %}<img src="{% static 'wganbrowser/images/generic_headerbar.png' width=10% %}">{% endblock %}</div>
  <!-- End Header -->
  <!-- Begin Navigation -->
  <div id="navigation">
    {% block navigation %}
        {% if user.is_authenticated %}
            <a href="{% url 'wganbrowser:models' %}">Models</a> | 
            <a href="{% url 'wganbrowser:modelruns' %}">Model Runs</a> | 
            <a href="{% url 'wganbrowser:jobs' %}">Jobs</a> |
            <a href="{% url 'logout' %}">Logout</a>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
        {% endif %}
    {% endblock %}
  </div>
    {% block messages %}
        {% if message %}
            <div id="messages">
                <p><center><b>{{ message }}</b></center></p>
            </div>
        {% endif %}
    {% endblock %}
    <!-- End Navigation -->
  <!-- Begin Left Column -->
  <div id="leftcolumn">
    {% block content %}{% endblock %}
  </div>
  <!-- End Left Column -->
  <!-- Begin Right Column -->
  <div id="rightcolumn">
    {% block content_menu %}{% endblock %}
  </div>
  <!-- End Right Column -->
 </div>
<!-- End Wrapper -->
</body>
</html>