{% load static %}

<link rel="stylesheet" href="{% static 'wganbrowser/style.css' %}">

<div id="banner">{% block banner %}<p>WGANBROWSER</p>{% endblock %}</div>

<div id="navigation">
    {% block navigation %}
        <hr></hr>
        {% if user.is_authenticated %}
            <a href="{% url 'wganbrowser:models' %}">Models</a> | 
            <a href="{% url 'wganbrowser:modelruns' %}">Model Runs</a> | 
            <a href="{% url 'logout' %}">Logout</a>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
        {% endif %}
        <hr></hr>
    {% endblock %}
</div>

<div id="messages">
    {% block messages %}
        {% if message %}{{ message }}{% endif %}
    {% endblock %}
</div>

<div id="content">{% block content %}{% endblock %}</div>

<div id="content_menu">{% block content_menu %}{% endblock %}</div>