{% extends "wganbrowser/page_base.html" %}
{% block content %}
   <p class="section-header">Model Runs..</p>
   <ul>
    {% for model_name,modelruns in modelruns.items %}
        <li class="section-header">{{ model_name }}</li>
        <ul>
            {% for modelrun in modelruns %}
                <li><a href="{% url 'wganbrowser:modelrun_detail' modelrun.id %}">{{ modelrun.name }}</a></li>
            {% endfor %}
        </ul>
    {% endfor %}
    </ul>
{% endblock %}
{% block content_menu %}
    <a href="{% url 'wganbrowser:modelrun_create' %}">Create</a>
{% endblock %}