{% extends "wganbrowser/page_base.html" %}
{% block content %}
    {% if model %}
        <p class="section-header">{{ model.name }}</p>
        <ul>
            <li>Library: <a href="{% url 'wganbrowser:library_detail' model.library.id %}">{{ model.library.name }}</a></li>
            <li>Dataset: <a href="{% url 'wganbrowser:dataset_detail' model.dataset.id %}">{{ model.dataset.name }}</a></li>
        </ul>
        {% if runs_with_snapshot.items %}
        <p class="section-header">Runs and latest snapshot</p>
            <ul>
                {% for run,snapshot in runs_with_snapshot.items %}
                    <li><a href="{% url 'wganbrowser:modelrun_detail' run.id %}">{{ run.name }}</a>
                        : {% if snapshot %}
                            <a href="{% url 'wganbrowser:modelsnapshot_detail' snapshot.id %}">{{ snapshot.checkpoint }}</a>
                          {% else %}
                            No snapshots found.
                          {% endif %}</li>
                {% endfor %}
            </ul>
        {% else %}
            No runs found.
        {% endif %}
    {% else %}
        <p>Model {{ model_id }} not found.</p>
    {% endif %}

    {% endblock %}
{% block content_menu %}
    <p><a href="{% url 'wganbrowser:model_delete' model.id %}">Delete</a> (This will also delete all items linked to this model)</p>
    <p><a href="{% url 'wganbrowser:modelrun_create' %}">Create Run</a></p>
{% endblock %}










