* { padding: 0; margin: 0; }

body {
 font-family: Arial, Helvetica, sans-serif;
 font-size: 13px;
 background-color:#063f74;
 background:#063f74;
}

#wrapper { 
 margin: 0 auto;
 width: 920px;
}

#header {
 color: #333;
 width: 920px;
 float: left;
 margin: 0px 0px 0px 0px;
 border: 0px solid #ccc;
 padding: 0px 0px 0px 0px;
 height: 100px;
 background-color:#063f74;
 background:#063f74;
}

#navigation {
 float: left;
 width: 900px;
 color: #333;
 margin: 0px 0px 0px 0px;
 border: 0px solid #ccc;
 padding: 10px;
 background-color:#d3d8da;
} 

#messages {
 float: left;
 width: 900px;
 color: #333;
 margin: 0px 0px 0px 0px;
 border: 0px solid #ccc;
 padding: 0px;
 background-color:#8eca9b;
}  

#leftcolumn { 
 color: #333;
 margin: 0px 0px 0px 0px;
 border: 0px solid #ccc;
 padding: 10px;
 height: 200%;/*px;*/
 width: 680px;
 float: left;
 background:#b3b7cc;
}

#rightcolumn { 
 float: right;
 color: #333;
 margin: 0px 0px 0px 0px;
 border: 0px solid #ccc;
 padding: 10px;
 height: 200%;/*px;*/
 width: 200px;
 display: inline;
 background:#e0e9f6;
 position: relative;
}

img {
 width: 100%;
 height: 100%;
}

div {
 word-wrap: break-word;
}

ul {
    padding-left: 1em;
}

li {
 margin: 1em;
 margin-left: 1em;
}

p {
    margin: 0px;
    border: 0px;
    padding: 3px;
}

a:hover, a:visited, a:link, a:active 
{
    text-decoration: none;
}
table {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    margin-left: 1em;
}

tr {
    vertical-align: top;
}

td {
    padding: 10px 10px 10px 0px;
}

.section-header {
    font-weight:bold;
    margin-bottom:10px;
}

svg{
    margin: 0px;
    border: 0px;
    padding: 0px;
    width: 330px;
    height: 330px;
}