{% extends "wganbrowser/page_base.html" %}
{% block content %}
    <p class="section-header">Job Log...</p>
    <p>{{ modelrun.name }}:</p>
    <pre>{% for line in jenkins_log %}{{ line }}
{% endfor %}
</pre>
{% endblock %}
{% block content_menu %}
<p><a href="{% url 'wganbrowser:job_halt' modelrun.id node_name %}">Halt</a></p>
<p><a href="{% url 'wganbrowser:job_upload_snapshot' modelrun.id node_name %}">Upload snapshot</a></p>
<p><a href="{% url 'wganbrowser:job_detail' modelrun.id node_name %}">Job Detail..</a></p>
{% endblock %}