{% extends "wganbrowser/page_base.html" %}
{% block content %}
    <p class="section-header">Model run jobs in progress..</p>
    {% if jobs %}
    <p>Select to query for job details.</p>
        <ul>
            {% for job in jobs %}
                <li> <a href="{% url 'wganbrowser:job_detail' job.modelrun.id job.node_name %}"> {{ job.modelrun.name }} </a> running on {{ job.node_name }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No model run jobs in progress.</p>
    {% endif %}
{% endblock %}
